<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <img src="assets/farologo.png" class="logo-image">

    <div class="input-container">
      <ion-text color="dark">
        <h1>Seleccione El Tipo De Usuario</h1>
      </ion-text>

      <ion-button expand="block" fill="clear" color="warning" fill="outline" [routerLink]="['/auth-admin']" >
      Administrador
    </ion-button>
    <br>

    <ion-button expand="block" fill="clear" color="warning" fill="outline" [routerLink]="['/auth']">
      Cliente
    </ion-button>
  </div>
  </div>
  </ion-content>
