<ion-content>
  <ion-header style="border: none !important; box-shadow: none !important;">
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <div class="d-flex-center">
    <!-- <img src="assets/sio.png" alt="Logo" width="200" height="150"> -->
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (Keypress.enter)="submit()">

      <img src="assets/farologo.png" class="logo-image">
      <h1>Recuperar Contraseña</h1>

      <div class="input-container">

      <p>Ingresa Tu Correo Para Recuperar Tu Contraseña</p>
    </div>
      <app-custom-input
      autocomplete="email"
      icon="person-circle-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      (ionInput)="onInputCorreo($event)" maxlength="65"

      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El Correo Es Obligatorio</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese Un Correo Valido</div>
      </div>

      <ion-button color="light" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>
  </div>
</ion-content>
