<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="productos">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seccion-especial">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

        <ion-tab-button tab="menu" selected>
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="combos">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Promoción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>Mis Pedidos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
