h1 {
    text-align: center;
}
ion-avatar{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.profile-details {
    background-color: var(--ion-color-primary); /* Color de fondo primario */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin-top: 20px; /* Espacio superior */
    max-width: 300px; /* Ancho máximo del contenedor */
    width: 80%; /* Porcentaje del ancho de su contenedor principal */
    margin-left: auto; /* Centrar el contenedor horizontalmente */
    margin-right: auto;
  }
  .consulta {
    background-color: var(--ion-color-light); /* Color de fondo primario */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin-top: 20px; /* Espacio superior */
    max-width: 300px; /* Ancho máximo del contenedor */
    width: 80%; /* Porcentaje del ancho de su contenedor principal */
    margin-left: auto; /* Centrar el contenedor horizontalmente */
    margin-right: auto;
  }
  .content-wrapper {
    background-color: var(--ion-color-light); /* Cambia el color de fondo según tus preferencias */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    color: black;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  hr {
    border: none;
    border-top: 1.2px solid var(--ion-color-warning);
    color: #333;
    overflow: visible;
    text-align: center;
    height: 10px;
  }
  
  
  