ion-title {
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

ion-avatar {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.empty-icon {
  font-size: 140px;
  opacity: 30%;
}

ion-col.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-loaded {
  opacity: 1;
}

